.w3-button {
  position: relative;
  left: 700;
  bottom: 650;
  height: 30;
}

#div-but1 {
  position: relative;
  bottom: 600;
  left: 700;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 20;
}

#text-one {
  position: relative;
  bottom: 700;
  left: 700;
  font-family: "Times New Roman", Times, serif;
  font-size: 20;
}

#text-two {
  position: relative;
  bottom: 850;
  left: 700;
  font-family: "Times New Roman", Times, serif;
  font-size: 20;
}

#text-three {
  position: relative;
  bottom: 920;
  left: 700;
  font-family: "Times New Roman", Times, serif;
  font-size: 20;
}

#text-four {
  position: relative;
  top: 900;
  left: 700;
  font-family: "Times New Roman", Times, serif;
  font-size: 20;
}
#ir-cell {
  position: relative;
  bottom: 1260;
  left: 250;
}
