.w3-button {
  
  position: relative;
  left: 700;
  bottom: 650;
  height: 30;

  

.div.but1 {
  position: relative;
  bottom: 810;
}

.butt{
  position: relative;
  left: 200;
  bottom: 840;
  font-size: 1em;
}
